<?xml version="1.0" ?>
<model>
    <name>basic-building</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>gontran sion</name>
        <email>gontran.sion@gmail.com</email>
    </author>
    <description>Basic building witth all basic features of the building editor.</description>
</model>
